@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  font-size: 100%;
  background-color: #fafafa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Red Hat Display";
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 900;
  overflow-x: hidden;
}

footer {
  min-height: 26.25em;
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 0;
}
.numberFooterContainer {
  z-index: 20;
  height: 6.75em;
}
.footerContainer {
  z-index: 10;
  height: 19.5em;
  background-repeat: no-repeat;
  padding: 7em 18em;
  background-color: #4d96a9;
}

.imgFooterMobile,
.imgFooterDesktop {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.2;
  object-fit: cover;
}

.imgFooterMobile {
  display: none;
}
@media (width > 1300px) {
  .imgHeroComplete {
    display: none;
  }
}

@media (width <= 1300px) {
  .imgHeroLeft,
  .imgHeroRight {
    display: none;
  }
  .imgComplete {
    display: block;
  }

  .logoContainer {
    margin-top: 3em;
  }
  .headerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer {
    height: 26.75em;
  }
  .footerContainer {
    height: 20em;
    display: flex;
    padding: 5em;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@media (width <= 560px) {
  .imgFooterDesktop {
    display: none;
  }
  .imgFooterMobile {
    display: block;
  }
  .footerContainer {
    padding: 1em 0;
  }
  .titleContainer {
    div{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .mainContainer{
    width: 90%;
  }
  .footerContainer{
    padding: 0 1em;
  }

}


.btnIsInHero {
  background-color: #4d96a9;
  color: white;
  span {
    color: #8fe3f9;
  }
}
.btnIsInHero:hover {
  background-color: #71c0d4;
  color: white;
  span {
    color: #8fe3f9;
  }
}
.btnIsInFooter {
  background-color: #855fb1;
  color: white;
  span {
    color: #d9b8ff;
  }
}
.btnIsInFooter:hover {
  background-color: #b18bdd;
  color: white;
  span {
    color: #d9b8ff;
  }
}
